@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jost); /* Use Jost as default sans */
  --: var(--font-gilda); /* Use Gilda as serif */
  --color-primary: #1b1b1b;
  --color-secondary: #65676b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jost), sans-serif; /* Default body font */
}

/* Apply Gilda Display to headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-gilda), serif;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-lg1: 1200px;
  --breakpoint-lg2: 1300px;
  --breakpoint-xl: 1580px;
  --breakpoint-2xl: 2000px;
}
