@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jost); /* Use Jost as default sans */
  --font-serif: var(--font-gilda); /* Use Gilda as serif */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jost), sans-serif; /* Default body font */
}

/* Apply Gilda Display to headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-gilda), serif;
}
